/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  qsrc: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  src: local('Raleway'), local('Raleway-Regular'), url(font/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(font/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
	overflow-x: hidden;
	overflow-y: hidden;
	color: white;
	background-color: black;
}
#guiMain {
	display: none;
	background-color: black;
	white-space: nowrap;
}

#guiMain > div {
	position: relative;
	vertical-align: top;
	display: inline-block;
	height: 100%;
}

#guiMain .col0 {
	width: calc( 100% - 504px );
	height: 100%;
}

#guiMain .col1 {
	width: 240px;
}

#guiMain .col2 {
	width: 240px;
}
	

#guiMain .rowTop {
	height: 44px;
}

#guiLoading {
	display: block;
}
.guiButton {
	border-radius: 8px;
	border: 2px solid #d2d2d2;
	margin: 4px;
}
.guiButton:hover {
	border-width: 3px;
	margin: 3px;
	cursor: pointer;
	background-color: #222222;
}

#guiNarrative {
	white-space: pre-wrap;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 14px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	margin: 0px 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 10px;
	overflow-y: hidden;
	overflow-x: auto;
	border: 1px solid black;
}

#guiNarrative.big {
	position: absolute;
	z-index: 100;
	height: 600;
	overflow-y: scroll;
	border: 1px solid white;
}

#guiNarrative.dim {
	/* must be above narrative bold in this file. */
	color: #555555;
}
#guiNarrative b {
	color: orange;
}

#mapContainer {
	position: absolute;
	top: 44px;
	width: 100%; /*832px;*/
	height: 100%;	/*832px;*/
	text-align: center;
}
#guiMap {
	display: inline-block;
	cursor: crosshair;
}
.monName {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-right: 16px;
}
#guiInfo.monColor, .monColor, #guiInfo.monColor table tbody tr td {
	color: cyan; /* #dc9a38; */
	border-color: cyan;
}
#guiInfo b {
	color: black;
	background-color: #ff7777;
}

#guiInfo img.itemImage {
	width:96px;
}

#guiInfo div.monsterImageBackground {
	width:  240px;
	height: 170px;
	background-image: url("../tiles/gui/portraitBg.png");
}

#guiInfo img.monsterImage {
	width:144px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#guiInfo .monDetail {
	display: inline-block;
	width: 70px;
}

.better {
	color: #3bf93b
}
.worse {
	color: #f93b3b;
}

#guiInfo.invList {
	font-size: 10px;
}

#guiInfo span {
	white-space: nowrap;
}

#guiInfo table tr td {
	color: #d2d2d2;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding-right: 6px;
}

#guiInfo span.infoPerk {
	font-size: 12px;
	white-space: pre-wrap;
}

.notAllowed {
	color: red;
}

.craftingHeader {
	font-family: 'Raleway', sans-serif;
	color: #d2d2d2;
	font-size: 18px;
	text-align: left;
	margin-left: 10px;
}

.craftingHeader h1 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.craftingCentered {
	text-align: center;
}

.ingredientList {
	display: inline-block;
	vertical-align: middle;
	width: 272px;
	border: 2px solid #555;
	border-radius: 8px;
	padding: 8px;
}

.ingredientList i {
	color: #555555;
}

.craftingHeader hr {
	border-color: #555;
	margin-top: 32px;
	margin-bottom: 32px;
	border-width: 1px;
}

.ingredient.consumed {
	color: #393;
}

.ingredient.extra {
	color: #993;
}

.ingredient:hover {
	background-color: rgb(110,110,110,0.73);
	cursor: pointer;
}

.craftingArrow {
	display: inline-block;
	vertical-align: middle;
	opacity: 0.2;
	width: 60px;
	margin-right: 30px;
	margin-left: 30px;
}

.craftingArrow.ready {
	opacity: 1.0;
}

.craftingArrow.ready:hover {
	cursor: pointer;
}


.craftingProduct {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #555;
	border-radius: 8px;
	width: 272px;
	padding: 8px;
}

.craftingProduct.ready {
	border: 2px solid #393;
}

.craftingProduct.ready:hover {
	cursor: pointer;
	background-color: #393;
}

.craftingProduct.productMade{
	background-color: green;
}

#favMessage {
	margin-top: 12px;
}

#guiControls {
	display: inline-block;
	opacity: 0.8;
}

.alignTop {
	vertical-align: top;
}
#guiSign {
	display: none;
	z-index: 5;
	width: 474px;
	height: 90px; /* any smaller and a scroll bar appears when there are three lines. */
	margin-top: 16;
	border-radius: 16px;
	padding: 10px;
	text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #a9a9a9;
	border: 3px solid #828181;
	background-color: #00000085;
	position: absolute;
	top:0;
	left:165px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: pre-wrap;
	cursor: pointer;
}
#guiTalk {
	display: none;
	z-index: 8;
	position: absolute;
	top:60;
	left: 165px;
	width: 474px;
	height: 474px;
	margin-top: 16;
	border-radius: 8px;
	padding: 10px;
	text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #a9a9a9;
	border: 3px solid #828181;
	background-color: #00000085;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: pre-wrap;
}
#guiStatus {
	width: 240px;
	height: 140px;
	overflow-y: hidden;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
#guiSpells {
	width: 240px;
	height: 100px;
	display: block;
	white-space: pre;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin: 0px 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
#guiSpells img.spellRecharge {
	display: inline-block;
	height: 16px;
	margin-right: 8px;
	vertical-align:middle;
}

#guiFavorites {
	width: 240px;
	height: 200px;
	display: block;
	white-space: pre;
	font-family: 'Raleway', sans-serif;
	color: #d2d2d2;
	font-size: 14px;
	margin: 0px 0px;
    margin-top: 24px;
    overflow-y: hidden;
	overflow-x: hidden;
}
#guiFavorites .itemRecharge {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-right: 8px;
	vertical-align:middle;
}

#guiFavorites .item:hover, #guiFavorites .item .isSelected {
	background-color: rgb(110,110,110,0.73);
	cursor: pointer;
}

#guiExperience {
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: pre;
	border-top: 1px solid #d2d2d2;
	color: #d2d2d2;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	overflow-y: hidden;
	overflow-x: hidden;
}
#guiInfo.healthWarn, #guiInfo.healthWarn table tr td {
	background-color: yellow;
	color: black;
}
#guiInfo.healthCritical, #guiInfo.healthCritical table tr td {
	background-color: red;
	color: black;
}

#guiInfo {
	width: 240px;
	height: 460px;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: normal;
	border-top: 1px solid #d2d2d2;
	color: #d2d2d2;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
}
#guiMiniMap {
	width: 150px;
	height: 150px;
	font-family: "Ariel", serif;
	border: 1px solid #666;
	font-size: 10px;
	margin: 0px 0px;
	margin-left: 12px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}
#guiMiniMap canvas {
	align-self: center;
	background-color: #00000000;
	position: absolute;
	left: 0;
	top: 0;
}
#guiMiniMapCanvas1 {
	z-index:10;
}
#guiMiniMapCaption {
	text-align: center;
	color: '#d2d2d2';
	font-size: 14px;
	font-family: "Ariel", serif;
	overflow-y: hidden;
	overflow-x: hidden;
	margin-left: 12px;
}
.itemIconTable {
	width: 100%;
}
.lit {
	background-color: #373;
	border-radius: 6px;
}
.unlit {
	color: gray;
}
.statAlert {
	color: black;
	background-color: orange;
}
.statNotice {
	color: orange;
}
.poison {
	color: black;
	background-color: #66cc1a;
}
.runPause {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-right: 16px;
	width: 24px;
	display: inline-block;
	text-align: left;
}
.level {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-right: 16px;
}
.gotExperience {
	color: #6eff00;
}
.readyToLevel {
	background-color: lightgreen;
	color: black;
}
.gotLevel {
	color: #6eff00;
	background-color: red;
}
.shieldBonus {
	color: black;
	background-color: orange;
}

.merchant {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
	qborder-bottom: 1px solid #d2d2d2;
	padding-bottom: 6px;
	margin-bottom: 16px;
	margin-left: 10px;
}

.merchantOp {
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid #d2d2d2;
	margin: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

.merchantOp:hover {
	border-width: 3px;
	margin: 3px;
	cursor: pointer;
	background-color: #222222;
}

.guiInventory {
	display: none;
	z-index: 10;
	white-space: pre;
	background-color: rgba(0,0,0,0.76);
	width: 98%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
.guiInventory table {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	opacity: 0.8;
}

.invCategories img:hover {
	background-color: rgb(110,110,110,0.73);
}

.invCategories .iconLit {
	background-color: rgb(120,120,120,0.85);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.invCategories {
	margin-left: 90px;
	margin-top: 8px;
	margin-bottom: 12px;
}

.invCategories img {
	margin-right: 14px;
	cursor: pointer;
	width: 32px;
	border-radius: 4px;
	opacity: 0.8;
}


.invBody {
}

.invBodyScroll {
	overflow-y: auto;
}


.invBodyScroll::-webkit-scrollbar {
	width: 10px;
}
.invBodyScroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px grey; 
	border-radius: 5px;
}
.invBodyScroll::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 5px;
}
.invBodyScroll::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
}

.inv .newItem {
	font-size: 10px;
	color: gold;
	font-style: italic;
}

.inv tbody tr td.invSpacer {
	padding-top: 16px;
}

.inv .tooExpensive {
	color: gray;
}

.inv {
	border-collapse: separate;
	margin-left: 6px;
}
.inv table {
	table-layout: fixed;
}

#guiInventory.inv thead tr th, #guiInventory.inv thead tr td, #guiInventory.inv tbody tr th, #guiInventory.inv tbody tr td{
	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
}

.inv thead tr td {
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 10px;
}

.inv thead tr td:hover {
	background-color: rgb(110,110,110,0.73);
	cursor: pointer;
}

.inv thead tr td img{
	height: 18px;
}

.inv thead tr td.invSlot {
	width: 35px;
}
.inv thead tr td.invKey {
	width: 24px;
	padding-right: 0px;
}
.inv thead tr td.invIcon {
	width: 22px;
}
.inv thead tr td.invDescription {
	width: 256px;
}
.inv thead tr td.invArmor {
	width: 74px;
	text-align: center;
}
.inv thead tr td.invDamage {
	width: 98px;
	text-align: center;
	padding-left: 6px;
}
.inv thead tr td.invBonus {
	width: 64px;
	padding-left: 6px;
}
.inv thead tr td.invCharges {
	width: 58px;
	padding-left: 6px;
}
.inv thead tr td.invPrice {
	padding-left: 6px;
}

.inv tbody tr td:nth-child(1) img {
	margin-left: 6px;
	width: 16px;
	height: 16px;
}
.inv tbody tr td:nth-child(2) {
	padding-right: 6px;
}
.inv tbody tr td:nth-child(3) {
	padding-right: 4px;
}
.inv tbody tr td:nth-child(6) {
	padding-right: 3px;
}

.inv tbody tr td {
	font-size: 16px;
}

.inv tbody tr {
	border-radius: 6px;
	cursor: pointer;
}
.inv tbody tr:hover {
	background-color: rgb(110,110,110,0.73);
}
.inv tbody tr img {
	width: 16px;
}

.inv tr:first-child td:first-child { border-top-left-radius: 4px; }
.inv tr:first-child td:last-child { border-top-right-radius: 4px; }
.inv tr:last-child td:first-child { border-bottom-left-radius: 4px; }
.inv tr:last-child td:last-child { border-bottom-right-radius: 4px; }

.inv tbody tr td {
	font-size: 18px;
	vertical-align: middle;
	text-align: left;
	padding-left: 2px;
	padding-right: 8px;
	white-space: nowrap;
	padding-bottom: 1px;
}
.inv tbody tr .right {
	text-align: right;
}
.inv tbody tr .ctr {
	text-align: center;
}

.health-bar {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	padding: 2px;
	background: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 2px;
	white-space: nowrap;
	cursor: pointer;
}
.health-bar:hover, .health-bar.isSelected {
	color: cyan;
	background-color: cyan;
}

.bar {
	background: #c54;
	width: 100%;
	height: 16px;
	position: relative;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 4px;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 6px;
	font-size: 13px;
	text-transform: uppercase;

	transition: width .5s linear;
}

.hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;

	transition: width .5s linear;
}

#guiPathDebug {
	white-space: pre;
	font-family: "Courier New", monospace;
	overflow-y: auto;
	height: 800px;
}

#testStatus a {
	cursor: pointer;
	text-decoration: underline;
}

#testStatus a:hover {
	background-color: #444;
}

#testResults {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 800px;
	height: 800px;
	white-space: pre;
	font-family: "Courier New", monospace;
	overflow-y: auto;
	z-index: 200;
	background: rgba(22,22,22,0.8);

}
